.header {
    background-color: #0000ff;
}

.nav {
    background-color: #800080;
}

.main {
    flex: 3;
    background-color: #ffd700;
}
section {
    display: flex;
}
.aside {
    flex: 1;
    background-color: #808080;
}

.footer {
    background-color: #00ffff;
}

